.buttonsWrapper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.template {
  margin-bottom: 10px;
  color: rgba(0,0,0,.62);
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.62);
}

.template:hover {
  background-color: rgba(0,0,0,.1);
}

.templates {
  position: absolute;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 5px;
  overflow-y: auto;
  font-family: Open Sans,Roboto,Arial,sans-serif;
  font-size: 14px;
  text-align: start;
  background-color: #f1f3f4;
  border-radius: 5px;
}

.overflowWrapper {
  position: absolute;
}