.number-block-container {
    display: flex;
    justify-content: end;
}

.number-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    justify-self: end;
}

.calculation-table {
    display: inline-flex;
}

.operator {
    align-self: center;
}
