.converterWrapper {
  max-width: 570px;
}

.converter {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}


.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tableWrapper {
}

.datetime {
  display: flex;
}
