.converterWrapper {
    max-width: 768px;
}

.converter {
    display: flex;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tableWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datetime {
    display: flex;
}
